.checkbox {
  &--modal {
    position: static;
    display: inline-flex;
    width: 448px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: map-get($map: $colors, $key: checkbox_text-font);
    margin: 0;
  }
  &__link {
    text-decoration: underline;
    color: map-get($map: $colors, $key: checkbox_link-font);
    cursor: pointer;
  }

  &__control {
    position: relative;
    display: inline-flex;
    gap: 7px;
    border-radius: 2px;
    transition: box-shadow 0.15s ease-in;
  }
  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(1px, 1px, 1px, 1px);
  }
  &__label {
    display: block;
    width: 100%;
    margin-top: 4.5px;
    background-color: map-get($map: $colors, $key: checkbox_label-background);
    border: 1px solid map-get($map: $colors, $key: checkbox_label-border);
    border-radius: 2px;
    cursor: pointer;
    width: 16px;
    height: 15px;
    transition-property: border-color, background-color;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
  }
  &__svg {
    margin-bottom: 3.5px;
    margin-left: 2px;
    fill: map-get($map: $colors, $key: checkbox_svg-fill);
  }

  &__label::after {
    content: "";
    position: absolute;
    display: block;
    left: 4px;
    top: 3px;
    width: 55%;
    height: 40%;
  }
  &__label:hover {
    border-color: map-get($map: $colors, $key: checkbox_label-hover);
  }
  &__input:checked + &__label {
    border-color: map-get(
      $map: $colors,
      $key: checkbox_input-checked_label-border
    );
    background-color: map-get(
      $map: $colors,
      $key: checkbox_input-checked_label-backgronud
    );
  }
  &__input:checked + &__label::after {
    border-color: map-get(
      $map: $colors,
      $key: checkbox_input-checked_label-after-border
    );
  }
}
