.section-our-customers {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 50px;
    padding: 0;

    gap: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    height: 92px;
    min-width: 210px;

    @include tablet {
      height: 92px;
      min-width: 226px;
    }

    @include desktop {
      height: 92px;
      min-width: 170px;
    }
  }

  &__logo {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid map-get($map: $colors, $key: customers_logo-border);
    border-radius: 4px;
    fill: map-get($map: $colors, $key: customers_logo-fill);
    transition-property: border, border-radius, fill;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
  }
  &__logo:hover {
    border: 1px solid
      map-get($map: $colors, $key: customers_logo-border-hover-focus);
    border-radius: 4px;
    fill: map-get($map: $colors, $key: customers_logo-fill-hover-focus);
    outline: none;
  }
  &__logo:focus {
    border: 1px solid
      map-get($map: $colors, $key: customers_logo-border-hover-focus);
    border-radius: 4px;
    fill: map-get($map: $colors, $key: customers_logo-fill-hover-focus);
    outline: none;
  }
}
