.footer {
  &--box {
    background-color: map-get($map: $colors, $key: footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__box-tab {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
    }

    @include desktop {
      gap: 70px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__logo-link {
    font-family: map-get($map: $font, $key: Raleway), sans-serif;
    font-weight: map-get($map: $font, $key: Bold);
    text-decoration: none;
    color: map-get($map: $colors, $key: studio_footer);
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    cursor: default;

    @include desktop {
      font-size: 26px;
      line-height: calc(31 / 26);
    }
  }

  &__logo-label {
    color: map-get($map: $colors, $key: web);
  }

  &__contact-address {
    padding: 0;
    padding-top: 20px;
  }

  &__address-text {
    text-align: center;
    color: map-get($map: $colors, $key: contact-footer_address-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__item--footer {
    text-align: center;
    padding: 0;
    padding-top: 8px;

    @include desktop {
      text-align: left;
      padding-top: 9px;
    }
  }

  &__link--footer {
    color: map-get($map: $colors, $key: contact-footer_link);
    font-weight: map-get($map: $font, $key: Regular);
  }

  &__link--footer:hover,
  &__link--footer:focus {
    color: map-get($map: $colors, $key: contact-footer_link-hover-focus);
  }
}
.social-footer {
  padding-top: 60px;

  @include tablet {
    padding-top: 0;
  }

  &__title {
    text-align: center;
    font-weight: map-get($map: $font, $key: Bold);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: map-get($map: $colors, $key: social-footer_font);
    margin: 0px;
    margin-bottom: 20px;

    @include desktop {
      text-align: left;
    }
  }
}

.newsletter {
  &__sign-up {
    text-align: center;
    font-weight: map-get($map: $font, $key: Bold);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: map-get($map: $colors, $key: newletter_sign-up-font);
    margin: 0px;
    margin-bottom: 25px;

    @include desktop {
      text-align: left;
    }
  }
  &__container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @include desktop {
      flex-direction: row;
    }
  }

  &__input-footer {
    padding: 15px 0 15px 15px;
    color: map-get($map: $colors, $key: newletter_input-footer-font);
    max-width: 450px;
    width: 100%;
    background-color: map-get(
      $map: $colors,
      $key: newletter_input-footer-background
    );
    border: 1px solid
      map-get($map: $colors, $key: newletter_input-footer-border);
    filter: drop-shadow(
      map-get($map: $colors, $key: newletter_input-footer-box-shadow)
    );
    border-radius: 4px;
    transition-property: border;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
    outline: 0;

    @include desktop {
      min-width: 358px;
    }
  }
  &__input-footer::placeholder {
    color: map-get($map: $colors, $key: newletter_input-footer-placeholder);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 15px 295px 15px 0;
  }
  &__input-footer:hover,
  &__input-footer:focus,
  &__input-footer:active {
    border: 1px solid
      map-get($map: $colors, $key: newletter_input-footer-hover-focus-active);
  }
}
