.modal {
  &--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: map-get($map: $colors, $key: form-background);
    box-shadow: 0px 1px 3px map-get($map: $colors, $key: form-shadow-one),
      0px 1px 1px map-get($map: $colors, $key: form-shadow-two),
      0px 2px 1px map-get($map: $colors, $key: form-shadow-three);
    border-radius: 4px;

    @include mobile {
      max-width: 450px;
      max-height: 609px;
    }
  }
  &__conteiner-inputs {
    margin-left: 40px;
    margin-right: 40px;
  }
  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: map-get($map: $colors, $key: form_label);
  }
  &__input-box {
    border: 1px solid map-get($map: $colors, $key: form_input-box-border);
    display: inline-flex;
    width: 448px;
    padding: 11px 12px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 5px;
    transition-property: border, fill;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );

    @include mobile {
      max-width: 370px;
    }
  }
  &__input-box:focus-within {
    border: 1px solid map-get($map: $colors, $key: form_input-box-focus-hover);
    fill: map-get($map: $colors, $key: form_input-box-fill);
  }
  &__input {
    border: none;
    outline: none;
    padding-left: 11px;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: map-get($map: $colors, $key: form_input-font);
    transition-property: outline;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
  }
  &__input:hover {
    outline: none;
  }
  &__textarea-box {
    border: 1px solid map-get($map: $colors, $key: form_textarea-box-border);
    display: inline-flex;
    width: 448px;
    padding: 11px 15px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 5px;
    transition-property: border, fill;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );

    @include mobile {
      max-width: 370px;
    }
  }
  &__textarea-box:focus-within {
    border: 1px solid
      map-get($map: $colors, $key: form_textarea-box-focus-hover-border);
    fill: map-get($map: $colors, $key: form_textarea-box-focus-hover-fill);
  }
  &__textarea {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: map-get($map: $colors, $key: form_textarea-font);
    transition-property: color, outline;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
  }
  &__textarea:hover {
    outline: none;
  }
  &__textarea::placeholder {
    color: map-get($map: $colors, $key: form_textarea-placeholder);
  }
}
