.hero {
  background-color: map-get($map: $colors, $key: hero_background);

  display: block;
  color: map-get($map: $colors, $key: section-header_font-header);
  padding: 118px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      map-get($map: $colors, $key: section-header_linear-gradient-one),
      map-get($map: $colors, $key: section-header_linear-gradient-two)
    ),
    url(../images/hero-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid map-get($map: $colors, $key: section-header_border);
  filter: drop-shadow(
    0px 4px 4px map-get($map: $colors, $key: section-header_drop-shadow)
  );
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        map-get($map: $colors, $key: section-header_linear-gradient-one),
        map-get($map: $colors, $key: section-header_linear-gradient-two)
      ),
      url(../images/hero-mob@2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(
        map-get($map: $colors, $key: section-header_linear-gradient-one),
        map-get($map: $colors, $key: section-header_linear-gradient-two)
      ),
      url(../images/hero-tab@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          map-get($map: $colors, $key: section-header_linear-gradient-one),
          map-get($map: $colors, $key: section-header_linear-gradient-two)
        ),
        url(../images/hero-tab@2x.jpg);
    }
  }

  @include desktop {
    padding: 200px 0;

    background-image: linear-gradient(
        map-get($map: $colors, $key: section-header_linear-gradient-one),
        map-get($map: $colors, $key: section-header_linear-gradient-two)
      ),
      url(../images/hero-desk@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          map-get($map: $colors, $key: section-header_linear-gradient-one),
          map-get($map: $colors, $key: section-header_linear-gradient-two)
        ),
        url(../images/hero-desk@2x.jpg);
    }
  }

  &__header {
    max-width: 365px;
    font-size: 26px;
    line-height: calc(42 / 26);
    font-weight: map-get($map: $font, $key: Black);
    letter-spacing: 0.06em;
    margin: 0 auto;
    text-align: center;

    @include desktop {
      max-width: 696px;
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
}

.btn {
  &--hero {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: map-get($map: $font, $key: Roboto), sans-serif;
    font-size: 16px;
    line-height: 1.36;
    font-weight: map-get($map: $font, $key: Bold);
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 42px;
  }
}
