.logo {
  &--menu {
    margin-right: 93px;
  }
  &__link {
    font-family: map-get($map: $font, $key: Raleway), sans-serif;
    font-weight: map-get($map: $font, $key: Bold);
    text-decoration: none;
    color: map-get($map: $colors, $key: studio);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    cursor: default;
  }
  &__label {
    color: map-get($map: $colors, $key: web);
  }
  &__link--footer {
    color: map-get($map: $colors, $key: studio_footer);
  }
}
