.nav {
  &--nav-styles {
    font-size: 14px;
    line-height: 1.14;
    font-weight: map-get($map: $font, $key: Medium);
    letter-spacing: 0.02em;
    margin-top: 8px;
  }

  &__list {
    display: flex;
    padding: 0;
    gap: 46px;
    margin: 0;
    outline: none;
  }

  &__link {
    color: map-get($map: $colors, $key: nav-link);
    text-decoration: none;
  }
  &__list &__link {
    color: map-get($map: $colors, $key: nav-link);
    text-decoration: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
  }
  &__link:active,
  &__link:hover,
  &__link:focus {
    color: map-get($map: $colors, $key: nav-focus_hover_active);
    outline: none;
  }
  &__link--underline {
    color: map-get($map: $colors, $key: nav-link_underline);
  }
  &__link--underline::after {
    content: "";
    display: block;
    width: auto;
    height: 4px;
    margin-top: 28px;
    background-color: map-get($map: $colors, $key: nav-link_underline-after);
    border-radius: 2px;
    transform: translateY(1px);
  }
}
