.newsletter {
  &__sign-up {
    font-weight: map-get($map: $font, $key: Bold);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: map-get($map: $colors, $key: newletter_sign-up-font);
    margin: 0px;
    margin-bottom: 20px;
  }
  &__container-input {
    display: flex;
    gap: 12px;
  }
  &__input-footer {
    padding: 15px 295px 15px 15px;
    color: map-get($map: $colors, $key: newletter_input-footer-font);
    width: 358px;
    background-color: map-get(
      $map: $colors,
      $key: newletter_input-footer-background
    );
    border: 1px solid
      map-get($map: $colors, $key: newletter_input-footer-border);
    filter: drop-shadow(
      map-get($map: $colors, $key: newletter_input-footer-box-shadow)
    );
    border-radius: 4px;
    transition-property: border;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
    outline: 0;
  }
  &__input-footer::placeholder {
    color: map-get($map: $colors, $key: newletter_input-footer-placeholder);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 15px 295px 15px 0;
  }
  &__input-footer:hover,
  &__input-footer:focus,
  &__input-footer:active {
    border: 1px solid
      map-get($map: $colors, $key: newletter_input-footer-hover-focus-active);
  }
}
