.projects {

  &--box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    justify-content: space-between;
    row-gap: 30px;
  }
  &__box:hover {
    background: map-get($map: $colors, $key: projects_box-hover-background);
    box-shadow: 0px 1px 1px
        map-get($map: $colors, $key: projects_box-hover-shadow-one),
      0px 4px 4px map-get($map: $colors, $key: projects_box-hover-shadow-two),
      1px 4px 6px map-get($map: $colors, $key: projects_box-hover-shadow-three);
  }
  &__cart {
    margin: 0 auto;
    padding: 0;
    width: 370px;
  }
  &__img-box {
    position: relative;
    overflow: hidden;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__description {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: map-get(
      $map: $colors,
      $key: projects_description-background
    );
    color: map-get($map: $colors, $key: projects_description-font);
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    padding-bottom: 49px;
    transform: translateY(110%);
    transition-property: transform;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
  }
  &__cart:hover &__description {
    transform: translateY(0);
  }
  &__text-box {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid
      map-get($map: $colors, $key: projects_text-box-border-bottom);
    border-left: 1px solid
      map-get($map: $colors, $key: projects_text-box-border-left);
    border-right: 1px solid
      map-get($map: $colors, $key: projects_text-box-border-right);
  }
  &__header {
    font-size: 18px;
    font-weight: map-get($map: $font, $key: Medium);
    line-height: 2;
    color: map-get($map: $colors, $key: projects_header-font);
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
  }
  &__text {
    font-size: 16px;
    font-weight: map-get($map: $font, $key: Regular);
    line-height: 1.63;
    color: map-get($map: $colors, $key: projects_text);
    margin: 0px;
    padding-left: 24px;
    padding-bottom: 20px;
  }
}
