.strengths {
  padding: 60px 0;

  @include desktop {
    padding: 93px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    flex-basis: 100%;

    @include tablet {
      min-width: 354px;
      flex-basis: calc((100% - 30px) / 3);
    }

    @include desktop {
      min-width: 270px;
      flex-basis: calc((100% - 90px) / 5);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: map-get($map: $colors, $key: strengths_background-icon);
    border-radius: 4px;
  }

  &__title {
    font-weight: map-get($map: $font, $key: Bold);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: map-get($map: $colors, $key: strengths_font-title);

    padding: 30px 0 10px;
    margin: 0;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: map-get($map: $colors, $key: strengths_font-text);
    margin: 0;
    padding: 0;
  }
}
