.team {
  padding: 60px 0;
  background-color: map-get($map: $colors, $key: team_background);

  @include desktop {
    padding: 94px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    background-color: map-get($map: $colors, $key: cart_background);
    box-shadow: 0px 1px 3px map-get($map: $colors, $key: cart_box-shadow-one),
      0px 1px 1px map-get($map: $colors, $key: cart_box-shadow-two),
      0px 2px 1px map-get($map: $colors, $key: cart_box-shadow-three);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;

    @include tablet {
      max-width: 354px;
    }

    @include desktop {
      max-width: 270px;
    }
  }

  &__header {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    font-weight: map-get($map: $font, $key: Medium);
    color: map-get($map: $colors, $key: cart_header-font);
    text-align: center;
    margin-top: 30px;
  }

  &__text {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    font-weight: map-get($map: $font, $key: Regular);
    color: map-get($map: $colors, $key: cart_text-font);
    text-align: center;
    margin-top: 10px;
  }
}

.social-links {
  &--box {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 12px;
    gap: 10px;
  }
  &--team {
    margin: 16px 32px 18px 32px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    transition-property: fill, background-color, border-radius;
    transition-duration: map-get($map: $transition, $key: duration-one);
    transition-timing-function: map-get(
      $map: $transition,
      $key: timing-function-one
    );
  }
  &__icon--team {
    fill: map-get($map: $colors, $key: social-links_icon-fill);
  }
  &__icon:hover {
    fill: map-get($map: $colors, $key: social-links_icon-fill-hover-focus);
    background-color: map-get(
      $map: $colors,
      $key: social-links_icon-background-hover-focus
    );
    border-radius: 50%;
    outline: none;
  }
  &__icon:focus {
    fill: map-get($map: $colors, $key: social-links_icon-fill-hover-focus);
    background-color: map-get(
      $map: $colors,
      $key: social-links_icon-background-hover-focus
    );
    border-radius: 50%;
    outline: none;
  }
  &--footer {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 12px;
    gap: 10px;
    margin: auto;

    @include desktop {
      justify-content: flex-start;
    }
  }
  &__icon--footer {
    fill: map-get($map: $colors, $key: social-links_footer-fill);
    background-color: map-get(
      $map: $colors,
      $key: social-links_footer-background
    );
    outline: 0;
  }
}
