.section-what-we-do {
  display: none;
  padding: 94px 0;
  @include desktop {
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    gap: 30px;
  }
  &__item {
    display: inline-block;
  }
  &__img {
    margin: 0;
    position: relative;
    display: inline-flex;
  }
  &__img-title {
    position: absolute;
    left: 0;
    right: 0;
    background-color: map-get(
      $map: $colors,
      $key: what-we-do_img-title-background
    );
    color: map-get($map: $colors, $key: what-we-do_img-title-font);
    bottom: 0;
    padding: 27px;
    text-align: center;
    font-weight: map-get($map: $font, $key: Bold);
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}
