* {
  margin: 0;
  padding: 0;
}

body {
  text-decoration: none;
  font-family: map-get($map: $font, $key: Roboto), sans-serif;
  font-weight: map-get($map: $font, $key: Regular);
  font-style: normal;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

svg {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;

  &--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include desktop {
      gap: 70px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
    flex-direction: row;
  }
}

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: map-get($map: $colors, $key: title);
  margin: 0;
  text-align: center;

  &__modal {
    display: inline-flex;
    justify-content: center;
    width: 448px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: map-get($map: $font, $key: Bold);
    line-height: 1.15;
    letter-spacing: 0.03em;

    @include mobile {
      max-width: 360px;
      text-align: center;
    }
  }
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
