$colors: (
  "main-font": #212121,
  "web": #2196f3,
  "studio": #000000,
  "studio_footer": #ffffff,
  "menu-border-bottom": #ececec,
  "nav-link": #212121,
  "nav-focus_hover_active": #2196f3,
  "nav-link_underline-after": #2196f3,
  "nav-link_underline": #0000ffff,
  "contact-menu_link": #757575,
  "contact-menu_link_focus_hover": #2196f3,
  "contact-footer_address-font": #ffffff,
  "contact-footer_link": rgba(255, 255, 255, 0.6),
  "contact-footer_link-hover-focus": #2196f3,
  "hero_background": #2f303a,
  "section-header_linear-gradient-one": rgba(47, 48, 58, 0.4),
  "section-header_linear-gradient-two": rgba(47, 48, 58, 0.4),
  "section-header_font-header": #ffffff,
  "section-header_border": #000000,
  "section-header_drop-shadow": rgba(0, 0, 0, 0.25),
  "btn_background": #2196f3,
  "btn_font": #ffffff,
  "btn_footer-box-shadow": rgba(0, 0, 0, 0.15),
  "btn_footer-font": #ffffff,
  "btn_footer-svg-fill": #ffffff,
  "btn-modal_close-border": rgba(0, 0, 0, 0.1),
  "btn-modal_close-background": #ffffff,
  "btn-modal_close-fill": #000000,
  "btn-modal_svg-close": #000000,
  "btn-modal__box-shadow": rgba(0, 0, 0, 0.15),
  "btn-portfolio_background": #f5f4fa,
  "btn-portfolio_font": #212121,
  "btn-portfolio_background-hover-focus": #2196f3,
  "btn-portfolio_font-hover-focus": #ffffff,
  "btn-portfolio_box-shadow-one": rgba(0, 0, 0, 0.1),
  "btn-portfolio_box-shadow-two": rgba(0, 0, 0, 0.08),
  "btn-portfolio_box-shadow-three": rgba(0, 0, 0, 0.12),
  "strengths_background-icon": #f5f4fa,
  "strengths_font-title": #212121,
  "strengths_font-text": #757575,
  "what-we-do_img-title-background": rgba(47, 48, 58, 0.8),
  "what-we-do_img-title-font": #ffffff,
  "team_background": #f5f4fa,
  "cart_background": #ffffff,
  "cart_box-shadow-one": rgba(0, 0, 0, 0.12),
  "cart_box-shadow-two": rgba(0, 0, 0, 0.14),
  "cart_box-shadow-three": rgba(0, 0, 0, 0.2),
  "cart_header-font": #212121,
  "cart_text-font": #757575,
  "social-links_icon-fill": #afb1b8,
  "social-links_icon-fill-hover-focus": #ffffff,
  "social-links_icon-background-hover-focus": #2196f3,
  "social-links_footer-fill": #ffffff,
  "social-links_footer-background": rgba(255, 255, 255, 0.1),
  "customers_logo-border": #afb1b8,
  "customers_logo-fill": #afb1b8,
  "customers_logo-border-hover-focus": #2196f3,
  "customers_logo-fill-hover-focus": #2196f3,
  "title": #212121,
  "footer-background": #2f303a,
  "social-footer_font": #ffffff,
  "newletter_sign-up-font": #ffffff,
  "newletter_input-footer-font": #ffffff,
  "newletter_input-footer-background": rgba(0, 0, 0, 0),
  "newletter_input-footer-border": rgba(255, 255, 255, 0.3),
  "newletter_input-footer-drop-shadow": rgba(0, 0, 0, 0.15),
  "newletter_input-footer-placeholder": rgba(255, 255, 255, 0.6),
  "newletter_input-footer-hover-focus-active": #2196f3,
  "backdrop": rgba(0, 0, 0, 0.2),
  "form-background": #ffffff,
  "form-shadow-one": rgba(0, 0, 0, 0.12),
  "form-shadow-two": rgba(0, 0, 0, 0.14),
  "form-shadow-three": rgba(0, 0, 0, 0.2),
  "form_label": #757575,
  "form_input-box-border": rgba(33, 33, 33, 0.2),
  "form_input-box-focus-hover": #2196f3,
  "form_input-box-fill": #2196f3,
  "form_input-font": #757575,
  "form_textarea-box-border": rgba(33, 33, 33, 0.2),
  "form_textarea-box-focus-hover-border": #2196f3,
  "form_textarea-box-focus-hover-fill": #2196f3,
  "form_textarea-font": #757575,
  "form_textarea-placeholder": rgba(117, 117, 117, 0.5),
  "checkbox_text-font": #757575,
  "checkbox_link-font": #2196f3,
  "checkbox_label-background": #ffffff,
  "checkbox_label-border": #212121,
  "checkbox_svg-fill": #ffffff,
  "checkbox_label-hover": #2196f3,
  "checkbox_input-checked_label-border": #2196f3,
  "checkbox_input-checked_label-backgronud": #2196f3,
  "checkbox_input-checked_label-after-border": #ffffff,
  "projects_box-hover-background": #ffffff,
  "projects_box-hover-shadow-one": rgba(0, 0, 0, 0.12),
  "projects_box-hover-shadow-two": rgba(0, 0, 0, 0.06),
  "projects_box-hover-shadow-three": rgba(0, 0, 0, 0.16),
  "projects_description-background": rgba(33, 150, 243, 0.9),
  "projects_description-font": #ffffff,
  "projects_text-box-border-bottom": #eeeeee,
  "projects_text-box-border-left": #eeeeee,
  "projects_text-box-border-right": #eeeeee,
  "projects_header-font": #212121,
  "projects_text": #757575,
);

$transition: (
  "duration-one": 250ms,
  "duration-two": 1500ms,
  "timing-function-one": cubic-bezier(0.4, 0, 0.2, 1),
  "timing-function-two": ease-in-out,
);

$font: (
  "Raleway": "Raleway",
  "Roboto": "Roboto",
  "Regular": 400,
  "Medium": 500,
  "Bold": 700,
  "Black": 900,
);
